footer {
  background-color: lightgrey;
  border: 1px solid black;
  padding: 12px;
  text-align: center;
  margin: 6px 12px;
  color: #fff;
  clear: both;
  position: relative;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  border-left: 1px dashed black;
  border-bottom: 1px dashed black;
}

[class*="january"] {
  background: #862633;
}

[class*="february"] {
  background: #9966cc;
}

[class*="march"] {
  background: #7fffd4;
  color: #444;
}

[class*="april"] {
  background: #fafbf5;
  color: #444;
}

[class*="may"] {
  background: #50c878;
}

[class*="june"] {
  background: #eae0c8;
  color: #444;
}

[class*="july"] {
  background: #9b111e;
}

[class*="august"] {
  background: #a6e86c;
}

[class*="september"] {
  background: #0f52ba;
}

[class*="october"] {
  background: #a9c6c2;
}

[class*="november"] {
  background: #ffc87c;
}

[class*="december"] {
  background: #00e5ee;
}
