h2 {
  border-bottom: 1px dashed black;
  padding-bottom: 6px;
}

[class*="col-"] {
  border: 1px solid #eee;
  min-height: 18em;
  word-wrap: break-word;
}

.has-results {
  color: green;
}

.no-results {
  color: red;
}

.search-progress {
  color: orange;
}
