h2 {
  border-bottom: 1px dashed black;
  padding-bottom: 6px;
}

h3 {
  border-bottom: 1px dashed blue;
  padding-bottom: 4px;
  text-align: right;
}

[class*="col-"] {
  border: 1px solid #eee;
  min-height: 18em;
}

.has-results {
  color: green;
}

.no-results {
  color: red;
}

.search-progress {
  color: orange;
}
